{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "@config/*",
    "@libs/*",
    "@modules/*",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
